.contact-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 2000px;
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .input-form {
      display: flex;
      width: 100%;
      justify-content: space-around;
      flex-direction: row;
      width: 80%;
    }

    .form-name {
      width: 80%;
      align-self: center;
    }

    input {
      width: 100%;
      background-color: rgba(112, 112, 112, 0.4);
      border: none;
      min-height: 30px;
    }

    select {
      background-color: rgba(112, 112, 112, 0.4);
      width: 100%;
      border: none;
      min-height: 30px;
      option {
        background-color: white;
      }
    }
  }
}
