<div
  style="
    display: flex;
    justify-content: center;
    background-color: #243b4a;
    padding-top: 1.3rem;
    padding-bottom: 1rem;
  "
  id="gallery"
>
  <h1 style="margin: 0; color: white">Check out more examples</h1>
</div>
<div
  style="
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom, #243b4a 20%, #87bcde);
    width: 100%
  "
>
  <gallery
    [imageSize]="'cover'"
    [items]="images"
    [counter]="false"
    [dots]="false"
    [thumb]="false"
    [disableThumb]="true"
  ></gallery>
</div>
