<div class="reviews">
  <span style="margin-bottom: 3rem; font-size: 1.5rem; line-height: 1.15"
    >What People Are Saying About W.A.V.E.</span
  >
  <div class="quotes">
    <div class="quote">
      <h1 style="font-size: 1.8rem; line-height: 1.15">
        “Generative AI is the future of content creation, <br />
        and it's changing the game for industries <br />
        such as marketing, social media, and advertising.”
      </h1>
      <div class="quoter" style="margin-top: 30px">
        <img
          src="/assets/borodach.png"
          alt="CEO"
          style="width: 75px; height: 75px; border-radius: 50%"
        />
        <div style="display: flex; flex-direction: column">
          <span style="font-size: 1.5rem; margin-bottom: 7px">Geoffrey Hinton</span>
          <span style="font-size: 1.1rem">@GeoffreyHinton</span>
        </div>
      </div>
    </div>
    <div class="quote">
      <h1 style="font-size: 1.8rem; line-height: 1.15">
        “With the ability to generate high-quality<br />
        articles, videos, images, and sound,<br />
        the possibilities are endless.”
      </h1>
      <div class="quoter" style="margin-top: 30px">
        <img
          src="/assets/lecun.png"
          alt="CEO"
          style="width: 75px; height: 75px; border-radius: 50%"
        />
        <div style="display: flex; flex-direction: column">
          <span style="font-size: 1.5rem; margin-bottom: 7px">Yunn Le-Cun</span>
          <span style="font-size: 1.1rem">@YunnLeCun</span>
        </div>
      </div>
    </div>
  </div>
</div>
