.reviews {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
  background-color: rgb(237, 238, 242);
  width: 100%;
  padding-top: 6rem;
  padding-bottom: 6rem;
  h1,
  span {
    color: rgb(168, 176, 187);
  }
  .quotes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 50px;
    .quote{
      padding-top: 10px;
    }

    .quoter {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
    }
  }
  @media (max-width: 1200px) {
    .quotes {
      flex-direction: column; /* new value */
      align-items: flex-start;
    }
  }
}
