<div style="display: flex; justify-content: center;">
    <div class="plan-info">
      <h1 style="text-align: center; font-size: 2.6rem">
        The Ultimate Value of Your Value Proposition
      </h1>
      <span style="text-align: center; font-size: 1.2rem; line-height: 1.3"
        >Welcome to WAVE! Our goal is to provide you with everithing you need <br />
        to explore and understand generative AI, <br />
        from comprehensive online courses to weekly newsletters <br />
        that keep you up to date with the latest developments.
      </span>
      <div class="plans">
        <div class="plan">
          <span class="plan-name">Starter</span>
          <div class="plan-price-container">
            <span class="plan-price"><b>$10</b></span>
            <span style="margin-left: 0.3rem; font-size: 1.3rem">/ Month</span>
          </div>
          <span>Ideal for small scale tasks</span>
          <div class="plan-features">
            <div class="plan-feature">
              <mat-icon>check_box</mat-icon>
              <span>Chat Support</span>
            </div>
            <div class="plan-feature">
              <mat-icon>check_box</mat-icon>
              <span>Analytics Report</span>
            </div>
            <div class="plan-feature">
              <mat-icon>check_box</mat-icon>
              <span>Best Performance</span>
            </div>
            <div class="plan-feature">
              <mat-icon>check_box</mat-icon>
              <span>No Overcharge</span>
            </div>
            <div class="plan-feature">
              <mat-icon>check_box</mat-icon>
              <span>Unlimited Emails</span>
            </div>
            <div class="plan-feature">
              <mat-icon>check_box</mat-icon>
              <span>SEO Support</span>
            </div>
          </div>
          <button class="plan-button">Learn More</button>
        </div>
        <div class="plan">
          <span class="plan-name">Popular</span>
          <div class="plan-price-container">
            <span class="plan-price"><b>$30</b></span>
            <span style="margin-left: 0.3rem; font-size: 1.3rem">/ Month</span>
          </div>
          <span>Get the most value of our services</span>
    
          <div class="plan-features">
            <div class="plan-feature">
              <mat-icon>check_box</mat-icon>
              <span>Chat Support</span>
            </div>
            <div class="plan-feature">
              <mat-icon>check_box</mat-icon>
              <span>Analytics Report</span>
            </div>
            <div class="plan-feature">
              <mat-icon>check_box</mat-icon>
              <span>Best Performance</span>
            </div>
            <div class="plan-feature">
              <mat-icon>check_box</mat-icon>
              <span>No Overcharge</span>
            </div>
            <div class="plan-feature">
              <mat-icon>check_box</mat-icon>
              <span>Unlimited Emails</span>
            </div>
            <div class="plan-feature">
              <mat-icon>check_box</mat-icon>
              <span>SEO Support</span>
            </div>
          </div>
          <button class="plan-button">Learn More</button>
        </div>
        <div class="plan">
          <span class="plan-name">Enterprice</span>
          <div class="plan-price-container">
            <span class="plan-price"><b>$90</b></span>
            <span style="margin-left: 0.3rem; font-size: 1.3rem">/ Month</span>
          </div>
          <span>The best variant for for business</span>
          <div class="plan-features">
            <div class="plan-feature">
              <mat-icon>check_box</mat-icon>
              <span>Chat Support</span>
            </div>
            <div class="plan-feature">
              <mat-icon>check_box</mat-icon>
              <span>Analytics Report</span>
            </div>
            <div class="plan-feature">
              <mat-icon>check_box</mat-icon>
              <span>Best Performance</span>
            </div>
            <div class="plan-feature">
              <mat-icon>check_box</mat-icon>
              <span>No Overcharge</span>
            </div>
            <div class="plan-feature">
              <mat-icon>check_box</mat-icon>
              <span>Unlimited Emails</span>
            </div>
            <div class="plan-feature">
              <mat-icon>check_box</mat-icon>
              <span>SEO Support</span>
            </div>
          </div>
          <button class="plan-button">Learn More</button>
        </div>
      </div>
    </div>
  </div>