<div
  style="
    display: flex;
    justify-content: center;
    background-color: rgb(237, 238, 242);
  "
>
  <div class="featured-companies-container">
    <h1>Companies that love us</h1>
    <div class="featured-companies">
      <img src="/assets/c1.png" style="min-height: 80px;"/>
      <img src="/assets/c2.png" style="min-height: 40px;"/>
      <img src="/assets/c3.png" style="min-height: 30px;"/>
      <img src="/assets/c4.png" style="min-height: 40px;"/>
      <img src="/assets/c5.png" style="min-height: 40px;"/>
    </div>
  </div>
</div>
